<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search groups by name...">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        <div class="scrollable-container"> <!-- New scrollable container -->
            <div class="line">
                @for (group of groups; track $index) {
                <div class="card" routerLink="groupPage" (click)="onRoute(group.groupId)">
                    <img 
                    [src]="group.imageUrl ? group.imageUrl : 'https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=600'" 
                    class="card-img-top" 
                    alt="Group Image"
                    (error)="group.imageUrl = 'https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=600'" />
                    <div class="card-body">
                        <h5 class="card-title">{{group.groupName}}</h5>
                        <!-- user icon -->
                        <div class="icon-container">
                            @for (user of group.users; track $index) {
                            <div class="profile-icon">
                                <img [src]='user.imageUrl'
                                    alt="User" />
                            </div>
                        }
                            <!-- Add more profile icons as needed -->
                        </div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</body>

</html>