<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="friend-page.component.css"> <!-- Link to external CSS -->
</head>
<body>
    <div class="container mt-5">
        <div class="card-header text-white card shadow-sm heading">
            <div class="header-content">
                <h5 class="mb-0">{{currentFriend.userName}}</h5>
                <div class="icon-buttons">
                  
                    <!-- Delete Icon -->
                    <button class="removed-button" title="Delete" (click)="deleteFriend(currentFriend.userId)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#fff">
                            <path d="M6 19c0 .55.45 1 1 1h10c.55 0 1-.45 1-1V7H6v12zm2-14h8V4H8v1zm4-2C9.79 2 8 .79 8 .79S6 .79 6 .79C6 .79 4 .79 4 .79S2 .79 2 .79C2 .79 .79 4 .79S2 .79S4 .79S4 .79S6 .79S6 .79z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4 left-col">
                <div class="card shadow-sm">
                    <div class="card-header left-header text-white">
                        <h5 class="mb-0">Friends</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            @for (friend of friends; track $index) {
                            <li>
                                <div class="icon-container"
                                   >
                                    <div class="profile-icon">
                                        <img [src]="friend.imageUrl ? friend.imageUrl : 'https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=600'"
                                            class="card-img-top" alt="Group Image"
                                            (error)="friend.imageUrl = 'https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=600'" />
                                    </div>
                                    <span class="name-span pointer"(click)="onFriendClick()" [routerLink]="['/friend', 'friendPage', friend.userId]">
                                        {{ friend.userName | slice:0:13 }}{{ friend.userName.length > 13 ? '...' : '' }}
                                      </span>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4 center-col">
                <div class="card shadow-sm">
                    <div class="card-header center-header text-white">
                        <h5 class="mb-0">Transactions</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data -->
                            <li class="list-group-item">Friend A - $50</li>
                            <!-- More list items... -->
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Third Column Card -->
            <div class="col-md-4 mb-4 right-col">
                <div class="card shadow-sm">
                    <div class="card-header right-header text-white"> 
                        <h5 class="mb-0">Settlement</h5> 
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data for Group Transactions -->
                           <li> 
                               <span>He ows you 8000</span>
                           </li>
                           <!-- More list items... -->
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- End of row -->
    </div> <!-- End of container -->

    <!-- Link to your JavaScript if needed -->
    <!-- <script src="script.js"></script> -->
</body>
</html>