<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="friend-page.component.css"> <!-- Link to external CSS -->
</head>
<body>
    <div class="container mt-5">
        <div class="card-header text-white card shadow-sm heading">
            <div class="header-content">
                <h5 class="mb-0">friend name</h5>
                <div class="icon-buttons">
                    <!-- Edit Icon -->
                    <button class="icon-button" title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#fff">
                            <path d="M3 17.25V21h3.75l11.39-11.39-3.75-3.75L3 17.25zM20.71 7.04a1 1 0 0 0 0-1.41l-2.34-2.34a1 1 0 0 0-1.41 0l-1.42 1.42 3.75 3.75 1.42-1.42z"/>
                        </svg>
                    </button>
                    <!-- Delete Icon -->
                    <button class="icon-button" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#fff">
                            <path d="M6 19c0 .55.45 1 1 1h10c.55 0 1-.45 1-1V7H6v12zm2-14h8V4H8v1zm4-2C9.79 2 8 .79 8 .79S6 .79 6 .79C6 .79 4 .79 4 .79S2 .79 2 .79C2 .79 .79 4 .79S2 .79S4 .79S4 .79S6 .79S6 .79z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4 left-col">
                <div class="card shadow-sm">
                    <div class="card-header left-header text-white">
                        <h5 class="mb-0">Groups</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data -->
                            <li> 
                                <div class="icon-container">
                                    <div class="profile-icon">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lionel-Messi-Argentina-2022-FIFA-World-Cup_sharpness.jpg/1200px-Lionel-Messi-Argentina-2022-FIFA-World-Cup_sharpness.jpg"
                                            alt="User Profile Picture" />
                                    </div> 
                                    <span class="name-span">friend name</span>
                                </div>
                            </li>
                            <!-- More list items... -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4 center-col">
                <div class="card shadow-sm">
                    <div class="card-header center-header text-white">
                        <h5 class="mb-0">Transactions</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data -->
                            <li class="list-group-item">Friend A - $50</li>
                            <!-- More list items... -->
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend A - $50</li>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Third Column Card -->
            <div class="col-md-4 mb-4 right-col">
                <div class="card shadow-sm">
                    <div class="card-header right-header text-white"> 
                        <h5 class="mb-0">Settlement</h5> 
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data for Group Transactions -->
                           <li> 
                               <span>he ows you 8000</span>
                           </li>
                           <!-- More list items... -->
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- End of row -->
    </div> <!-- End of container -->

    <!-- Link to your JavaScript if needed -->
    <!-- <script src="script.js"></script> -->
</body>
</html>