<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css"> <!-- Link to external CSS -->
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Friends I Owe Money Card -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-danger text-white">
                        <h5 class="mb-0">Friends I Owe Money</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data -->
                            <li class="list-group-item">Friend 1 - $20</li>
                            <li class="list-group-item">Friend 2 - $15</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>
                            <li class="list-group-item">Friend 3 - $30</li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- Friends Who Owe Me Money Card -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Friends Who Owe Me Money</h5>
                    </div>
                    <div class="card-body data-container">
                        <ul class="list-group list-group-flush">
                            <!-- Sample Data -->
                            <li class="list-group-item">Friend A - $50</li>
                            <li class="list-group-item">Friend B - $25</li>
                            <!-- Add more items as needed -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Link to your JavaScript if needed -->
    <!-- <script src="script.js"></script> -->
</body>
</html>