<div class="container">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search friends by name...">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    
    <div class="scrollable-container"> <!-- New scrollable container -->
        <div class="line">
            <!-- Friend cards go here -->
             @for (friend of friends; track $index) {
            <div class="card" routerLink="friendPage">
                <img src="{{friend.imageUrl}}"
                    class="card-img-top" alt="this is group image">
                <div class="card-body">
                    <h5 class="card-title">{{friend.userName}}</h5>
                </div>
               
            </div>}
            <!-- Repeat for other cards -->
            
        </div>
    </div>
</div>