<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search friends by name..." [(ngModel)]="searchTerm">
            <button class="btn btn-outline-success" type="submit" (click)="searchFriends()">Search</button>
        </div>
        
        <div class="scrollable-container"> <!-- New scrollable container -->
            <div class="line">
                <!-- Friend cards go here -->
                 @for (friend of filteredFriends; track $index) {
                <div class="card" routerLink="friendPage/{{friend.userId}}">
                    <img 
                        [src]="friend.imageUrl ? friend.imageUrl : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s'" 
                        class="card-img-top" 
                        alt="Group Image"
                        (error)="friend.imageUrl = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s'" />
                    <div class="card-body">
                        
                        <h5 class="card-title">{{friend.userName}}</h5>
                    </div>
                   
                </div>}
                <!-- Repeat for other cards -->
                <div *ngIf="noResultsFound" class="no-results-message">
                    <div>
                        <h3>❌ No Friends Found ❌</h3>
                        <p>
                            We couldn't find any friends matching your search criteria. 
                            <br>Try searching with different keywords! 🌟
                        </p>
                        <p>
                            📅 Add new friends! ✨
                        </p>
                        <a (click)="reload()" class="back-link"> &#x2B05; Back</a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!-- Circular Button -->
   <button class="circular-button" data-bs-toggle="modal" data-bs-target="#addFriendModal" >
    +
</button>

 <!-- adFriend modal -->
 <div class="modal fade fixed" id="addFriendModal" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">Add Friend</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <div class="search-container">
                 <input type="text" id="search-input" placeholder="Search groups by name..."[(ngModel)]="addsearchTerm">
                 <button class="btn btn-outline-success search" type="button"  (click)="addsearchFriends()">Search</button>
             </div>
             <div class="card-body data-container">
                 <ul class="list-group list-group-flush">
             
                      @for (user of addfilteredFriends; track $index) {
                     <li class="list-user">
                         <div class="icon1-container">
                             <div class="div">
                                 <div class="profile-icon">
                                     <img [src]="user.imageUrl ? user.imageUrl:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmpoQaaw13BKAmYv1iRPzkz9AkM0ZskCqK_g&s'"
                                         alt="User"
                                         (error)="user.imageUrl = 'https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=600'" />

                                 </div>
                                 <span class="name-span">{{ user.userName }}
                                 </span>
                             </div>
                             <button class="add-button sign" data-bs-dismiss="modal"
                                 (click)="addFriend(user.userId)">+</button>
                         </div>
                     </li>
                    
                    }
                    <div *ngIf="anyResult" class="no-results-message2">
                        <div>
                            <h3>❌ No Users Found ❌</h3>
                           
                            <a (click)="reloadUsers()" class="back-link"> &#x2B05; Back</a>                    
                        </div>
                    </div>
                 </ul>
               
             </div>
         </div>

     </div>
 </div>
</div>
</body>
</html>