<div class="container">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search friends by name...">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    
    <div class="scrollable-container"> <!-- New scrollable container -->
        <div class="line">
            <!-- Friend cards go here -->
            <div class="card" routerLink="friendPage">
                <img src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="this is group image">
                <div class="card-body">
                    <h5 class="card-title">Friend Name</h5>
                </div>
               
            </div>
            <!-- Repeat for other cards -->
            
        </div>
    </div>
</div>